name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - optionals: "sage,pplpy"
            sagelib: "8.8"
          - optionals: "sage,pplpy"
            sagelib: "8.9"
          - optionals: "sage,pplpy"
            sagelib: "9.1"
          - optionals: "sage,pplpy,gmpxxyy,pyeantic,pyintervalxt,sage_flatsurf"
            sagelib: "9.1"
          - optionals: "sage,pplpy,mzv"
            sagelib: "9.2"
          - optionals: "sage,pplpy,mzv,gmpxxyy,pyeantic,pyintervalxt,sage_flatsurf"
            sagelib: "9.2"
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "flatsurf,conda-forge", channel-priority: true }
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          mamba install -n test sagelib=${{ matrix.sagelib }}
          echo "sagelib ==${{ matrix.sagelib }}" >> $CONDA_PREFIX/conda-meta/pinned

          while read -r line; do
            optional=$(echo "$line" | grep -o '# optional: [^ ]*' | awk '{ print $3; }') || true
            (test "$optional" == '' || (echo "${{ matrix.optionals }}" | grep -E '\b'"$optional"'\b') > /dev/null) && echo $line || true
          done < environment.yml > environment.test.yml

          cat environment.test.yml

          mamba env update --quiet -n test -f environment.test.yml

          conda list
      - name: Install surface-dynamics
        shell: bash -l {0}
        run: |
          pip install --verbose --no-index .
          # Show message about cppyy regenerating pre-compiled headers so it does not show during the tests
          python -c 'import cppyy' || true
      - name: Run SageMath doctests
        shell: bash -l {0}
        run: |
          export SURFACE_DYNAMICS_INSTALL="$(sage -c 'import surface_dynamics; print(surface_dynamics.__path__[0])')"
          sage -tp --force-lib --long --optional=${{ matrix.optionals }} ${SURFACE_DYNAMICS_INSTALL} doc
      - name: Run pytest
        shell: bash -l {0}
        working-directory: tests
        run: pytest -n auto
      - name: Show logs
        run: grep "" /dev/null `find -name '*.log'` || true
        if: ${{ always() }}

env:
  MAKEFLAGS: -j2
  SAGE_NUM_THREADS: 2
